/~$מצגת ביניים.pptx
/~$מצגת 7.8.pptx
/מצגת ביניים.pptx
/מצגת 7.8.pptx
/מצגת 11.9.pptx
/Results
/ImagesForReport
/docs/#Phase Mask Reconstruction Algorithm Explanation.lyx#
/ImagesForOverleaf.pptx
/~$ImagesForOverleaf.pptx
